MONGO_URI=

FRONTEND_URL=

JWT_ACCESS_SECRE=
JWT_REFRESH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FORTY_TWO_CLIENT_ID=
FORTY_TWO_CLIENT_SECRET=

EMAIL_USER=
EMAIL_PASS=

TMDB_API_KEY=
TMDB_BASE_URL=